.Background {
  /* background-color: #282c34; */
  height: 100%;
  Color: black;
}

.NavBar {
  background-color: #282c34;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.NavBarNew {
  display: flex;
  justify-content: space-between;
  background-color: peru;
}